<div fxLayout="row" class="maindiv">
  <div class="leftdiv">
      <div fxLayout="column" class="logodiv">
          <div class="titlediv">Fin<b>Comm</b></div>
          <div class="logoimgdiv"><img src="assets\logo.png"></div>
      </div>
      <div fxLayout="column" class="menudiv">
          <div>
              <a routerLink="/dashboard" routerLinkActive="active">
                  <mat-icon>dashboard</mat-icon>
                  Dashboard
              </a>
          </div>
          <div>
              <a routerLink="/community" routerLinkActive="active">
                  <mat-icon>groups</mat-icon>
                  Community
              </a>
          </div>
          <div>
              <a routerLink="/loandetails" routerLinkActive="active">
                  <mat-icon>account_balance</mat-icon>
                  Loans
              </a>
          </div>
          <div>
              <a routerLink="/invoices" routerLinkActive="active">
                  <mat-icon>receipt</mat-icon>
                  Invoices
              </a>
          </div>
          <div>
              <a routerLink="/payments" routerLinkActive="active">
                  <mat-icon>payment</mat-icon>
                  Payments
              </a>
          </div>
          <div>
              <a routerLink="/analytics" routerLinkActive="active">
                  <mat-icon>analytics</mat-icon>
                  Analytics
              </a>
          </div>
          <div>
              <a routerLink="/settings" routerLinkActive="active">
                  <mat-icon>settings</mat-icon>
                  Settings
              </a>
          </div>
          <div>
              <a routerLink="/contactus" routerLinkActive="active">
                  <mat-icon>contacts</mat-icon>
                  Contact Us
              </a>
          </div>
      </div>
  </div>
  <div fxFlex="86" class="rightdiv">
      <div fxLayout="row" class="headerdiv">
        <div fxFlex="70" class="searchdiv">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Search">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div fxFlex="30" fxLayout="row" class="rightbannerdiv">
          <mat-icon>message</mat-icon>
          <mat-icon>notifications</mat-icon>
          <img src="assets/currentuser.png">
          <div class="namemaindiv" fxLayout="column">
            <div class="namediv">Lizza Antony</div>
            <div class="iddiv">ID:1234567</div>
          </div>
          <mat-icon [matMenuTriggerFor]="menu" class="expandicon">expand_more</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item><mat-icon>person</mat-icon>Profile</button>
            <button mat-menu-item><mat-icon>logout</mat-icon>Logout</button>
          </mat-menu>
        </div>
      </div>
      <div class="main">
           <router-outlet>
          </router-outlet>          

      </div>
  </div>
</div>