
*.dll
FinComm-API/FinComm/bin/Debug/net6.0/appsettings.json
FinComm-API/FinComm/bin/Debug/net6.0/FinComm.deps.json
FinComm-API/FinComm/bin/Debug/net6.0/FinComm.dll
FinComm-API/FinComm/bin/Debug/net6.0/FinComm.pdb
FinComm-API/FinComm/bin/Debug/net6.0/Newtonsoft.Json.dll
FinComm-API/FinComm/bin/Debug/net6.0/runtimes/win-arm/lib/net6.0/dotnet-aspnet-codegenerator-design.exe
FinComm-API/FinComm/bin/Debug/net6.0/runtimes/win-arm64/lib/net6.0/dotnet-aspnet-codegenerator-design.exe
FinComm-API/FinComm/bin/Release/net6.0/appsettings.Development.json
FinComm-API/FinComm/bin/Release/net6.0/appsettings.json
FinComm-API/FinComm/bin/Release/net6.0/FinComm.deps.json
FinComm-API/FinComm/bin/Release/net6.0/FinComm.exe
FinComm-API/FinComm/bin/Release/net6.0/FinComm.pdb
FinComm-API/FinComm/bin/Release/net6.0/FinComm.runtimeconfig.json
FinComm-API/FinComm/bin/Release/net6.0/runtimes/win-arm/lib/net6.0/dotnet-aspnet-codegenerator-design.exe
FinComm-API/FinComm/bin/Release/net6.0/runtimes/win-arm64/lib/net6.0/dotnet-aspnet-codegenerator-design.exe
*.dll
*.pdb
FinComm-API/FinComm/bin/Debug/net6.0/appsettings.json
FinComm-API/FinComm/bin/Debug/net6.0/FinComm.deps.json
FinComm-API/FinComm/bin/Debug/net6.0/FinComm.dll
FinComm-API/FinComm/bin/Debug/net6.0/FinComm.pdb
FinComm-API/FinComm/bin/Debug/net6.0/Newtonsoft.Json.dll
FinComm-API/FinComm/bin/Debug/net6.0/appsettings.json
FinComm-API/FinComm/bin/Debug/net6.0/FinComm.deps.json
FinComm-API/FinComm/bin/Debug/net6.0/FinComm.dll
FinComm-API/FinComm/bin/Debug/net6.0/FinComm.pdb
FinComm-API/FinComm/bin/Debug/net6.0/Newtonsoft.Json.dll
