<div fxLayout="row">
    <div fxFlex="70">
        <div fxLayout="row">
            <div fxFlex="50">Welcome back</div>
            <div>New Community</div>
        </div>
        <div>
            <mat-form-field appearance="standard">                  
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <div fxFlex="70">Active Communities</div>
            <div>
                <mat-icon>chevron_left</mat-icon>
                <mat-icon>navigate_next</mat-icon>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>

<div style="display: flex;">
    <div class="welcomediv">
        Welcome Back
    </div>
    <div class="communitydiv">
      <mat-icon style="margin-top:10px;">add</mat-icon>
        NEW COMMUNITY
    </div>
    <div class="activediv">
      Active Communities
    </div>
</div>