<div fxLayout="row">
    <div fxFlex="70">
        <div fxLayout="row">
            <div fxFlex="50" class="welcomediv">Welcome back</div>
            <div class="communitydiv">
              + New Community</div>
             
        </div>
        <div class="linediv">
            <mat-form-field appearance="standard">                  
                <input matInput placeholder="Search Community">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <div fxFlex="70"class="activediv">Active Communities</div>
            <div class="navigate">
                <mat-icon>chevron_left</mat-icon>
                <mat-icon>navigate_next</mat-icon>
            </div>
        </div>
        <div class="rectanglediv">
           <img class="image1"src="assets\Img.png" >
            <p>Welfare Group</p>
            <button>ACTIVE</button>
            <br>
            <a>Savings:$120</a>
            <b>Loan Total:$120</b>
            <button class="loan">Loan Requests:3</button>
        </div>
        <div class="secondrectanglediv">
          <img src="assets\image.png">
          <p class="carediv">We Care for You</p>
          <button class="open">OPEN</button>
          <div class="startdiv">Starts on:04 Apr 2022</div>
          <div class="membersdiv">Members joined:5</div>
          <div class="invitationdiv">Send Invitation</div>
        </div>
        <div class="Invitations" >Invitation</div>
        <div fxLayout="row" class="invitationrectangle">
            <img class="imageinvitation"src="assets\invitation.png">
            <div class="cancerrelief">Cancer Relief
                <div class="startdate">Starts on 12 APR
                    <div class="communityleader">Community Leader:Ann Maria</div>
                </div> 
                <div class="acceptbutton"><mat-icon>thumb_up</mat-icon>Accept </div>
                <div class="rejectbutton"><mat-icon>thumb_down</mat-icon>Reject </div>
            </div>
            
                </div>
                <div fxLayout="row" class="invitationrectangle2">
                    <img class="imageinvitation2"src="assets\invitation2.png">
                    <div class="ecocommunity">Eco Friendly Community</div>
                </div>
             

        <div class="calendardiv">
        <div class="titlecalendar">Lot Calendar</div>
       <mat-card class="demo-inline-calendar-card">
            <mat-calendar></mat-calendar>
          </mat-card>
        </div>
       <div class="Analytics">Analytics</div>
    <div class="MonthlyRevenue">Monthly Revenue
        <div class="addcommunity">+ Add Community</div>
    </div>
    <div>

    </div>
</div>
