app-dashboard{
  .maindiv{
    .leftdiv{
      margin: 35px 50px;
      .welcomediv {
        font-weight: 500;
        font-size: 22px;
        line-height: 143%;
        letter-spacing: 0.02em;
        color: #8777e0;
      }
      .communitydiv {
        text-align: center;
        font-weight: 400;
        font-size: 13px;
        line-height: 143%;
        color: #FFFFFF;
        background: #8777E0;
        border-radius: 21px;
        letter-spacing: 0.04em;
        padding: 7px 15px 0px 15px;
        text-transform: uppercase;
        min-width: 150px;
        cursor: pointer;
      }
      .searchdiv{
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #8f8f8f;

        mat-form-field{
          width: 70%;
        }
      }
      .activecommunitytitlerow{
        margin-top: 5px;
        .activetitle{
          font-weight: 550;
          font-size: 15px;
          line-height: 143%;
          letter-spacing: 0.04em;
          color: #000000;    
        }
        .navigatediv{
          min-width: 80px;
          .first{
            color: #8f8f8f;
          }
          .second{
            color: #8777e0;
          }
        }
      }
      .activecommunityrow{
        padding: 10px 0px 25px 10px;
        .activecommunity{
          text-align: center;     
          cursor: pointer;     
          box-shadow: 0px 14px 40px rgba(42, 80, 118, 0.25);
          border-radius: 21px;
          padding: 20px;
          min-width: 210px;
          margin-right: 80px;
          img{
            width: 90px;
            border-radius: 50%;
          }

          .namediv{
            font-weight: 500;
            font-size: 16px;
            line-height: 143%;
            margin: 5px auto;
          }
          .statuslabel{
            border-radius: 6px;
            width: fit-content;
            margin: 5px auto 15px auto;
            padding: 2px 20px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0.035em;
          }
          .datalabel{
            font-weight: 400;
            font-size: 13px;
            line-height: 30px;
            letter-spacing: 0.03em;
          }
          .buttondiv{
            background: #8777E0;
            border-radius: 21px;
            color: #ffffff;
            max-width: 170px;
            padding: 6px 0px;
            margin: 10px auto 0px auto;
          }
        }
        > div:nth-of-type(odd) {
          background: linear-gradient(180deg, rgba(169, 133, 223, 0.71) 0%, #A985DF 99.98%);
          color: #ffffff;
          .statuslabel{
            color: #A781DF;
            background-color: #ffffff;
          }
        }
        > div:nth-of-type(even) {
          background: #FFFFFF;
          color: #8F8F8F;
          .namediv{
            color: #000000;
          }
          .statuslabel{
            color: #ffffff;
            background-color: #A781DF;
          }
        }
      }
      .invitationtitle{       
        font-weight: 550;
        font-size: 15px;
        line-height: 143%;
        letter-spacing: 0.04em;
        color: #000000;  
        margin: 20px 0px;
      }
      .invitationsrow{
        .invitationrow{
          background: #FFFFFF;
          box-shadow: 0px 14px 40px rgba(109, 141, 173, 0.25);
          border-radius: 21px;
          margin-bottom: 30px;
          .imagediv{
            margin: 20px 20px 13px 20px;  
          }
          .detailscol{
            margin: 10px 0px 0px 50px;
            .namediv{
              font-weight: 550;
              font-size: 15px;
              letter-spacing: 0.04em;
              color: #000000;  
              margin: 10px 0px;
            }
            .startdate{
              background: #A781DF;
              border-radius: 6px;
              color: #ffffff;
              width: fit-content;
              padding: 5px 20px 3px 20px;
              text-transform: uppercase;
              font-weight: 500;
              font-size: 12px;
              line-height: 143%;
              letter-spacing: 0.035em;              
            }
            .communityleader{
              font-weight: 400;
              font-size: 14px;
              line-height: 143%;
              color: #8F8F8F;
              margin-top: 10px;
            }           
          }
          .amountdiv{
            font-weight: 500;
            font-size: 14px;
            line-height: 143%;
            color: #4CAF50;
            margin-top: 20px;
            text-align: right;
            margin-right: 10px;
          }
          .permonth{
            font-weight: 400;
            font-size: 12px;
            line-height: 143%;
            color: #8F8F8F;
            text-align: right;
            margin-right: 10px;
          }
          .buttondiv{
            border-left: 1px solid #ECECEC;
            margin: auto;
            text-align: center;
            div{
              border-radius: 21px;
              width: 60%;
              padding: 5px 10px;
              color: #ffffff;
              margin: 0px auto 10px auto;
              font-weight: 500;
              font-size: 14px;
              letter-spacing: 0.06em;
            }
            .acceptbutton{
              background: #8777E0;  
              cursor: pointer;           
            }
            .rejectbutton{
              background: #8F8F8F;
              cursor: pointer;
            }
            mat-icon{
              vertical-align: middle;
              margin-right: 10px;
            }
          }        
        }
      }
    }
    .rightdiv{
      background: #F3EFFB;
      padding: 30px;
      min-width: 450px;
      .calendardiv{
        .titlecalendar{
          font-weight: 550;
          font-size: 15px;
          line-height: 143%;
          letter-spacing: 0.04em;
          margin-bottom: 15px;
        }
        .calendarcol{
          background-color: #ffffff;
          border-radius: 20px;
          color: #8777E0;
        }
      }
      .analyticsdiv{
        .analyticstitle{
          font-weight: 550;
          font-size: 15px;
          line-height: 143%;
          letter-spacing: 0.04em;
          margin: 15px 0px 0px 0px;
        }
        .chartdiv{
          .chartdata{
            margin: auto;
            .ratevalue{
              font-weight: 300;
              font-size: 15px;
              line-height: 143%;             
              letter-spacing: 0.02em;
              color: #8f8f8f;
              margin-bottom: 5px;
              span{
                font-weight: 600;
                color:#8777E0;
              }
            }
          }
        }       
      }
      .monthlyRevenue{
        .revenuetitle{
          font-weight: 550;
          font-size: 15px;
          line-height: 143%;
          letter-spacing: 0.04em;
        }
      }
      .addcommunity{
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #8777E0;
        border-radius: 27px;
        width: 70%;
        margin: 25px auto 5px auto;
        padding: 10px 0px;
        cursor: pointer;
      }
    }
  }
}
.custom-dialog-container {
  .mat-dialog-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 0px !important;
    border-radius: 20px !important;
    max-height: 100% !important;
    overflow: hidden !important;
  }
}