<div fxLayout="row" class="communitydetailsdiv">
    <div fxFlex="72" class="leftdiv">
        <div fxLayout="column" class="communitydiv">
            <div fxLayout="row" class="communityheaderrow">
                <div fxFlex="12" class="communitylogo"><img [src]="communityData.avatar"></div>
                <div fxFlex="78" class="communityname">{{communityData.name}}</div>
                <div fxFlex="10"><img class="spinimg" (click)="onSpin()" src="assets\spin.png"></div>
            </div>
            <div class="communitydescription">
                Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. 
                Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.
            </div>
            <div fxLayout="row" class="communitydata">
                <div class="myengagements">
                    <div class="myengagementtitle">My Engagements</div>
                    <div class="engagementchart">
                        <ngx-charts-pie-chart 
                        [results]="myengagement"
                        [legend]="true"
                        [legendPosition]="legendposition"
                        [legendTitle]="legendTitle"
                        [view]="[305,250]"
                        [labels]="false" 
                        [customColors]="engagementcolor"
                        [gradient]="true">
                        </ngx-charts-pie-chart>
                    </div>
                </div>
                <div class="detailsdiv">
                    <div fxLayout="row">
                        <div fxFlex="50" class="box1 box">
                            <div class="circlediv"><mat-icon>volunteer_activism</mat-icon></div>
                            <div class="boxvalue">${{communitydetails.monthlysavings}}</div>
                            <div class="boxtitle">Monthly Savings</div>
                        </div>
                        <div fxFlex="50" class="box2 box" routerLink="/loandetails">
                            <div class="circlediv"><mat-icon>account_balance</mat-icon></div>                       
                            <div class="boxvalue">{{communitydetails.loanrequests}}</div>
                            <div class="boxtitle">Loan Requests</div>
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="50" class="box3 box">
                            <div class="circlediv"><mat-icon>emoji_events</mat-icon></div>
                            <div class="boxvalue">${{communitydetails.lotamount}}</div>
                            <div class="boxtitle">Lot Amount</div>
                        </div>
                        <div fxFlex="50" class="box4 box">
                            <div class="circlediv"><mat-icon>attractions</mat-icon></div>
                            <div class="boxvalue">{{communitydetails.nextlotdate}}</div>
                            <div class="boxtitle">Next Lot Date</div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="offertitlediv">Offers</div>    
        <div fxLayout="row" class="offerdiv">
            <div fxLayout="column" class="offerdetail">
                <img src="assets\offer1.png">
                <div class="offertitle">Get 10% Offer on any purchase</div>
            </div>
            <div fxLayout="column" class="offerdetail">
                <img src="assets\offer2.png">
                <div class="offertitle">Get 10% Offer on any purchase</div>
            </div>
            <div fxLayout="column" class="offerdetail">
                <img src="assets\offer3.png">
                <div class="offertitle">Get 10% Offer on any purchase</div>
            </div>
        </div>
    </div>
    <div fxFlex="28" class="rightdiv">
        <div class="righttitle">Community total</div>
        <div class="rightchart" fxLayout="column">
            <div fxFlex="60" class="chartdiv">
                <ngx-charts-pie-chart 
                    [results]="communitytotal"
                    [legend]="true"
                    [doughnut]="true"
                    [legendPosition]="legendposition"
                    [legendTitle]="legendTitle"
                    [view]="[250,250]"
                    [labels]="false" 
                    [customColors]="communitychartcolor"
                    [gradient]="true">
                </ngx-charts-pie-chart>
            </div>
            <div fxFlex="40" fxLayout="row" class="charttotalvalue">
                <div fxLayout="row" fxFlex="50" class="chartdetail">
                    <mat-icon>account_balance</mat-icon>
                    <div fxFlex="80">
                        <div class="charttotalvalue">${{communityData.savings}}</div>
                        <div class="charttitle">Savings</div>
                    </div>
                </div>
                <div fxLayout="row" class="chartdetail">
                    <mat-icon>real_estate_agent</mat-icon>
                    <div fxFlex="80">
                        <div class="charttotalvalue">${{communityData.loan}}</div>
                        <div class="charttitle">Loan</div>
                    </div>
                </div>
            </div>           
        </div>
        <div class="righttitle">Members</div>
        <div class="membersdiv" fxLayout="row" fxLayout-wrap>
            <div class="member" *ngFor="let member of members">
                <img [src]="member.avatar">
                <div>{{member.name}}</div>
            </div>
        </div>
        <div class="righttitle">Recent Activity</div>
        <div class="activitymaindiv">
            <div class="activitylistdiv" fxLayout="row" *ngFor="let activity of activities">
                <img [src] = "activity.avatar">
                <div class="activitydiv">
                    <div class="activityowner">{{activity.name}}</div>
                    <div class="activityname">{{activity.activityDesc}}</div>
                </div>
            </div>
        </div>
    </div>
</div>