<div fxLayout="row">
    <div fxFlex="25" fxLayout="col" class="leftdiv">
        <div class="rules">
            Rules
            <div class="rule1"><mat-icon >arrow_right_alt</mat-icon>A community should have atleast 10 members.</div>
            <div class="rule1"><mat-icon >arrow_right_alt</mat-icon>The minimum duration for the community is one year.</div>
            <div class="rule1"><mat-icon >arrow_right_alt</mat-icon>If the number of joined members not meets the requirement until start date, Bank have the authority to cancel this community.</div>
            <div class="rule1"><mat-icon >arrow_right_alt</mat-icon>The lot period will be calculated by the bank based on the number of members and duration of the community.</div>
            <div class="rule1"><mat-icon>arrow_right_alt</mat-icon>The number of loans and loan amount allowed for each community will be calculated by the bank based on the contribution and duration of the community.  </div>
        </div>
    </div>
    <div fxFlex="50" class="maindiv">
        <div>Lets begin with your own community</div>
        <div class="mainrectangle">
        </div>
        
    </div> 
    <div fxFlex="25" fxLayout="col" class="rightdiv">

    </div>
</div>
    