.leftdiv{
left: 0px;
top: -2px;
width: 280px;
background: linear-gradient(268.37deg, #CA5FBF 4.37%, #A781DF 95.97%);
box-shadow: 0px 14px 40px rgba(109, 141, 173, 0.25);
border-radius: 21px 0px 0px 21px;
}
.rules{
    margin-left: 30px;
left: 17px;
top: 15px;
height: 700px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
/* or 23px */
letter-spacing: -0.03em;
color: #FFFFFF;
}
// .arrow1{
// padding-top: 10px;
// }
.meetingimage{
    height: 218px;
    padding-left: 80px;

}
.rule1{
font-family: 'Poppins';
margin-right: 15px;
font-style: normal;
font-weight: 600;
text-align: justify;
font-size: 14px;
/* or 23px */

letter-spacing: -0.03em;

color: #FFFFFF;
}
.maindiv{
font-family: 'Poppins';
font-style: normal;
margin-left: 10px;
font-weight: 400;
font-size: 24px;
/* or 34px */

letter-spacing: -0.03em;

color: #000000;
}
.mainrectangle{
height: 308px;
left: 15px;
margin-top: 15px;
background: #FFFFFF;
box-shadow: 0px 14px 40px rgba(109, 141, 173, 0.25);
border-radius: 21px;
}
label{
    font-family: 'Poppins';
    font-style: normal;
    color: #828282;
    font-weight: 400;
    font-size: 20px;
    line-height: 143%;
}
.communityform{
    width:400px;
    height: 10px;
}
.upload{
    height: 62px;
    width:110px;
    margin-left: 370px;
    margin-top: -70px;
background: #C4C4C4;
border-radius: 20px;
}
.uploadicon{
    margin-left: 20px;
background: #C4C4C4;
border-radius: 20px;
}
.mainrectangle2{
    height: 452px;
left: 17px;
margin-top: 15px;
background: #FFFFFF;
box-shadow: 0px 14px 40px rgba(109, 141, 173, 0.25);
border-radius: 21px;
}
.rightdiv{
    width:280px;
    background-color: #F3EFFB;
}
.projecteddata{
    margin-left: 20px;
    width: 281px;
height: 47px;
left: 11px;
top: 8px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 41px;
/* or 205% */
align-items: center;
letter-spacing: 0.06em;

color: #828282;
}
.submitdiv{
    // width: 140px;
    // margin-top: 600px;
    // margin-right:0px;
    // margin-left: 1px;
    // height: 30px;
    // font-weight: 600;
    // font-size: 14px;
    // line-height: 143%;
     color: #FFFFFF;
     background: #8777E0;
     border-radius: 21px;
    // padding-top: 8px;
    // letter-spacing: 0.04em;
}
.rejectdiv{
    width: 136px;
    padding-top: 10px;
    margin-left: 230px;
    margin-top: 30px;
    height: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #FFFFFF;
    background: #4b4b4d;
    border-radius: 21px;
    padding-top: 8px;
    
    letter-spacing: 0.04em;
}